{% extends 'base.html.twig' %}

{% block body %}
    <p class="h1">{{ 'project'|trans }}</p>
    Logado como <strong>{{ app.user.name }}</strong>!<br>
    <a class="btn-auth btn-google large" href="{{ path('fos_user_security_logout') }}">Logout</a>
{% endblock %}
