{% extends 'base.html.twig' %}

{% block body %}
    <div class="login">
        <div class="login-card">
            <img class="mb-4" src="{{ asset('logo.svg') }}" alt="{{ 'project'|trans }}" width="100">
            <h1 class="h3 mb-3 font-weight-normal">{{ 'project'|trans }}</h1>
            <a class="btn btn-secondary btn-block" href="{{ path('hwi_oauth_service_redirect', {service: "google"}) }}">Login</a>
        </div>
    </div>
{% endblock %}
