{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">{{ 'project'|trans }}</h1>
    <a href="{{ path('hwi_oauth_service_redirect', {service: "google"}) }}">Login</a>
{% endblock %}
