{% extends 'base.html.twig' %}

{% block body %}
<div class="login-container">
    <img class="mb-4" src="http://cdn.sobrancelhasdesign.com.br/sd.png" alt="" width="72" height="72">
    <h1>{{ 'project'|trans }}</h1>
    <a href="{{ path('hwi_oauth_service_redirect', {service: "google"}) }}" class="btn btn-lg btn-primary btn-block">
        Login
    </a>
</div>
{% endblock %}
